/*=========================
   MARGIN TOP AREA START 
==========================*/

.mt-1{
    margin-top: 1px;
}

.mt-2{
    margin-top: 2px;
}

.mt-5{
    margin-top: 5px;
}

.mt-10{
    margin-top: 10px;
}

.mt-15{
    margin-top: 15px;
}

.mt-20{
    margin-top: 20px;
}

.mt-24{
    margin-top: 24px;
}

.mt-25{
    margin-top: 25px;
}

.mt-26{
    margin-top: 26px;
}

.mt-27{
    margin-top: 27px;
}

.mt-30{
    margin-top: 30px;
}

.mt-35{
    margin-top: 35px;
}

.mt-40{
    margin-top: 40px;
}

.mt-50{
    margin-top: 50px;
}

.mt-60{
    margin-top: 60px;
}

.mt-70{
    margin-top: 70px;
}

.mt-80{
    margin-top: 80px;
}

.mt-90{
    margin-top: 90px;
}

.mt-100{
    margin-top: 100px;
}

.mt-110{
    margin-top: 110px;
}

/*=========================
   MARGIN TOP AREA END 
==========================*/


/*=========================
   MARGIN BOTTOM AREA START 
==========================*/

.mb-1{
    margin-bottom: 1px;
}

.mb-2{
    margin-bottom: 2px;
}

.mb-5{
    margin-bottom: 5px;
}

.mb-10{
    margin-bottom: 10px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-25{
    margin-bottom: 25px;
}

.mb-30{
    margin-bottom: 30px;
}

.mb-40{
    margin-bottom: 40px;
}

.mb-50{
    margin-bottom: 50px;
}

.mb-100{
    margin-bottom: 100px;
}


/*=========================
   MARGIN BOTTOM AREA END 
==========================*/


/*=========================
  MARGIN RIGHT AREA START 
==========================*/
.mr-1{
    margin-right: 1px;
}

.mr-2{
    margin-right: 2px;
}

.mr-5{
    margin-right: 5px;
}

.mr-10{
    margin-right: 10px;
}

.mr-20{
    margin-right: 20px;
}

.mr-30{
    margin-right: 30px;
}

.mr-40{
    margin-right: 40px;
}

.mr-43{
    margin-right: 43px;
}

.mr-45{
    margin-right: 45px;
}

.mr-50{
    margin-right: 50px;
}

.mr-55{
    margin-right: 55px;
}

.mr-60{
    margin-right: 60px;
}

/*=========================
   MARGIN RIGHT AREA END 
==========================*


/*=========================
   MARGIN LEFT AREA START 
==========================*/

.ml-1{
    margin-left: 1px;
}

.ml-2{
    margin-left: 2px;
}

.ml-5{
    margin-left: 5px;
}

.ml-10{
    margin-left: 10px;
}

.ml-20{
    margin-left: 20px;
}

.ml-30{
    margin-left: 30px;
}

.ml-40{
    margin-left: 40px;
}

.ml-50{
    margin-left: 50px;
}

.ml-55{
    margin-left: 55px;
}

.ml-60{
    margin-left: 60px;
}

.ml-100{
    margin-left: 100px;
}

/*=========================
   MARGIN LEFT AREA END 
==========================*/

/*=========================
   PADDING TOP AREA START 
==========================*/

.pt-1{
    padding-top: 1px;
}

.pt-2{
    padding-top: 2px;
}

.pt-3{
    padding-top: 3px;
}

.pt-4{
    padding-top: 4px;
}

.pt-5{
    padding-top: 5px;
}

.pt-6{
    padding-top: 6px;
}

.pt-7{
    padding-top: 7px;
}

.pt-8{
    padding-top: 8px;
}

.pt-9{
    padding-top: 9px;
}

.pt-10{
    padding-top: 10px;
}

/*=========================
   PADDING TOP AREA END 
==========================*/

/*=========================
   PADDING BOTTOM AREA START 
==========================*/

.pb-1{
    padding-bottom: 1px;
}

.pb-2{
    padding-bottom: 2px;
}

.pb-3{
    padding-bottom: 3px;
}

.pb-4{
    padding-bottom: 4px;
}

.pb-5{
    padding-bottom: 5px;
}

.pb-6{
    padding-bottom: 6px;
}

.pb-7{
    padding-bottom: 7px;
}

.pb-8{
    padding-bottom: 8px;
}

.pb-9{
    padding-bottom: 9px;
}

.pb-10{
    padding-bottom: 10px;
}

/*=========================
   PADDING BOTTOM AREA END 
==========================*/

/*=========================
   PADDING LEFT AREA START 
==========================*/

.pl-1{
    padding-left: 1px;
}

.pl-2{
    padding-left: 2px;
}

.pl-3{
    padding-left: 3px;
}

.pl-4{
    padding-left: 4px;
}

.pl-5{
    padding-left: 5px;
}

.pl-6{
    padding-left: 6px;
}

.pl-7{
    padding-left: 7px;
}

.pl-8{
    padding-left: 8px;
}

.pl-9{
    padding-left: 9px;
}

.pl-10{
    padding-left: 10px;
}

.pl-20{
    padding-left: 20px;
}

.pl-21{
    padding-left: 21px;
}

.pl-22{
    padding-left: 22px;
}

.pl-23{
    padding-left: 23px;
}

.pl-24{
    padding-left: 24px;
}

.pl-25{
    padding-left: 25px;
}

.pl-30{
    padding-left: 30px;
}

.pl-35{
    padding-left: 35px;
}

.pl-40{
    padding-left: 40px;
}

.pl-45{
    padding-left: 45px;
}

/*=========================
   PADDING LEFT AREA END 
==========================*/

/*=========================
   PADDING RIGHT AREA START 
==========================*/

.pr-1{
    padding-right: 1px;
}

.pr-2{
    padding-right: 2px;
}

.pr-3{
    padding-right: 3px;
}

.pr-4{
    padding-right: 4px;
}

.pr-5{
    padding-right: 5px;
}

.pr-6{
    padding-right: 6px;
}

.pr-7{
    padding-right: 7px;
}

.pr-8{
    padding-right: 8px;
}

.pr-9{
    padding-right: 9px;
}

.pr-10{
    padding-right: 10px;
}

/*=========================
   PADDING RIGHT AREA END 
==========================*/
